---
import BlogCard from "@/components/BlogCard.astro";
import ImageMod from "@/components/ImageMod.astro";
import Social from "@/components/Social.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { slugify } from "@/lib/utils/textConverter";

// get all static paths for authors
export async function getStaticPaths() {
  const COLLECTION_FOLDER = "goods";
  const authors = await getSinglePage(COLLECTION_FOLDER);

  const paths = authors.map((author) => ({
    params: {
      single: author.slug,
    },
    props: { author },
  }));
  return paths;
}

const { author } = Astro.props;
const { title, meta_title, description, image, color, print_color } = author.data;
const { Content } = await author.render();

// get all posts by author
// const BLOG_FOLDER = "blog";
// const posts = await getSinglePage(BLOG_FOLDER);
// const postFilterByAuthor = posts.filter(
//   (post) => slugify(post.data.author) === slugify(title),
// );
---

<Base
  title={title + ' • ' + color}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm pb-0">
    <div class="container">
      <div
        class="row justify-center border-b border-border pb-14 dark:border-darkmode-border"
      >
        <div class="text-center lg:col-8">
          {
            image && (
              <ImageMod
                src={image}
                class="mx-auto mb-10 rounded"
                height={800}
                width={800}
                alt={title + ' • ' + color}
                format="jpeg"
              />
            )
          }
          {color? <h1 class="h3 mb-6">{title}<span class="text-base"> • {color}</span></h1>: <h1 class="h3 mb-6">{title}</h1>}
          {print_color? <div class="text-base font-semibold">プリントカラー：{print_color}</div> : ""}
          <!-- <div class="text-base font-semibold">プリントカラー：{print_color}</div> -->
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
